body {
  font-family: 'Noto Sans';
  min-width: 320px;
}
.block {
  background-color: #c6c6c6;
  padding: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 24px;
  color: red;
  font-weight: bold;
}
.head {
  background-color: yellow;
}
.footer {
  background-color: green;
}
p {
  font-size: 16px;
  line-height: 28px;
  color: #000;
}
ul,
li {
  margin: 0;
  padding: 0;
}
/*
 * Box-sizing-model
 */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/*
 * Responsive images
*/
img {
  max-width: 100%;
  height: auto;
}
/*
 * Cursor change on hover on Buttons
*/
input[type="submit"] {
  cursor: pointer;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
.clear {
  clear: both;
  height: 0;
  width: 0;
  visibility: hidden;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.navigation {
  top: 51px;
  right: 0;
  left: 0;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}
@media (min-width: 768px) {
  .navigation {
    font-size: 22px;
    position: absolute;
  }
}
.navigation ul.navigation__list {
  display: none;
  margin: 0;
  padding: 0;
  text-align: center;
  position: fixed;
  background-color: rgba(11, 81, 136, 0.95);
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .navigation ul.navigation__list {
    display: block;
    position: absolute;
    top: 0px;
  }
}
.navigation ul.navigation__list--open {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.navigation li {
  margin: 0 0 40px;
  padding: 0;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .navigation li {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin-right: 100px;
  }
  .navigation li:last-child {
    margin-right: 0;
  }
}
.navigation a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  /*padding-bottom: 15px;
		padding-top: 15px;
		padding-left: 20px;
		padding-right: 20px;*/
}
.navigation a:hover,
.navigation a:active,
.navigation a:focus {
  color: #ffe400;
  text-decoration: none;
}
.navigation__toggle {
  display: block;
  font-size: 38px;
  position: absolute;
  cursor: pointer;
  right: 16px;
  top: 23px;
  z-index: 2;
}
.navigation__toggle--fixed {
  position: fixed;
}
@media (min-width: 768px) {
  .navigation__toggle {
    display: none;
  }
}
.my-foto {
  overflow: hidden;
  height: 110px;
  width: 110px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 27px;
  border-radius: 50%;
  background-image: url("../img/placeholders/user-avatar-placeholder-small-female.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.my-foto--shadow {
  box-shadow: 0px 0px 40px 0px #48779f;
}
@media (min-width: 1200px) {
  .my-foto--big {
    width: 220px;
    height: 220px;
    background-image: url("../img/placeholders/user-avatar-placeholder-big-female.png");
  }
}
a.mouse_scroll {
  display: block;
  margin: 0 auto;
  width: 24px;
  height: 100px;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  margin-left: -12px;
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  -o-animation-delay: 1.2s;
  animation-delay: 1.2s;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  a.mouse_scroll {
    bottom: 2rem;
    height: 50px;
  }
}
a.mouse_scroll:active,
a.mouse_scroll:focus {
  outline: none;
}
.m_scroll_arrows {
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  margin: 0 0 3px 4px;
  width: 16px;
  height: 16px;
}
.unu {
  margin-top: 1px;
}
.unu,
.doi,
.trei {
  -webkit-animation: mouse-scroll 1s infinite;
  -moz-animation: mouse-scroll 1s infinite;
}
.unu {
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
}
.doi {
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  margin-top: -6px;
}
.trei {
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  margin-top: -6px;
}
.mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  transform: none;
  border: 2px solid white;
  top: 170px;
  display: none;
}
@media (min-width: 768px) {
  .mouse {
    display: block;
  }
}
.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: white;
  position: relative;
  height: 4px;
  width: 4px;
  border: 2px solid white;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
}
@-webkit-keyframes mouse-wheel {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-moz-keyframes mouse-wheel {
  0% {
    top: 1px;
  }
  25% {
    top: 2px;
  }
  50% {
    top: 3px;
  }
  75% {
    top: 2px;
  }
  100% {
    top: 1px;
  }
}
@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}
.section {
  padding-top: 37px;
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  .section {
    padding-top: 55px;
    padding-bottom: 60px;
  }
}
@media (min-width: 1200px) {
  .section {
    padding-top: 74px;
    padding-bottom: 90px;
  }
}
.section--bottom-line {
  border-bottom: 1px solid #FFF0F5;
}
.section--pad-smaller {
  padding-top: 30px;
  padding-bottom: 35px;
}
@media (min-width: 768px) {
  .section--pad-smaller {
    padding-top: 50px;
    padding-bottom: 60px;
  }
}
@media (min-width: 1200px) {
  .section--pad-smaller {
    padding-top: 65px;
    padding-bottom: 67px;
  }
}
.heading {
  font-size: 32px;
  color: #0052c2;
  font-weight: 700;
  margin: 0 0 19px;
}
@media (min-width: 768px) {
  .heading {
    font-size: 42px;
    margin-top: -12px;
  }
}
.heading--medium {
  font-size: 24px;
  line-height: 28px;
  margin: 16px 0 15px;
}
@media (min-width: 768px) {
  .heading--medium-pl-90 {
    padding-left: 90px;
  }
}
.heading--center {
  text-align: center;
}
.heading--white {
  color: #fff;
}
.heading--medium-mt {
  margin-top: 0;
}
.button {
  display: inline-block;
  font-size: 16px;
  line-height: 32px;
  font-weight: 700;
  padding-top: 11px;
  padding-bottom: 14px;
  padding-left: 26px;
  padding-right: 26px;
  color: #fff;
  background-color: #0052c2;
  border-radius: 60px;
  position: relative;
  white-space: nowrap;
  box-shadow: 0px 3px 15px 0px rgba(0, 82, 194, 0.5);
  outline: none;
  text-decoration: none;
}
@media (min-width: 768px) {
  .button {
    margin-top: 35px;
  }
}
.button .fa-download {
  font-size: 18px;
  margin-right: 5px;
  color: #fff;
}
.button:hover,
.button:focus {
  background-color: #fff;
  color: #0052c2;
  text-decoration: none;
  outline: none !important;
}
.button:hover .fa-download,
.button:focus .fa-download {
  color: #0052c2;
}
.button:active {
  background-color: #0052c2;
  color: #FFE400;
  text-decoration: none;
  outline: none !important;
}
.button:active .fa-download {
  color: #FFE400;
}
.filter-block {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 19px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .filter-block {
    padding-top: 8px;
    margin-bottom: 50px;
  }
}
.filter-block__block {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}
.filter-block__element {
  margin: 0;
  margin-bottom: 9px;
  padding: 0;
  display: block;
}
@media (min-width: 768px) {
  .filter-block__element {
    margin-right: 0px;
    display: inline-block;
  }
}
@media (min-width: 1200px) {
  .filter-block__element {
    margin-right: 15px;
  }
  .filter-block__element:last-child {
    margin-right: 0;
  }
}
.filter-block_button {
  display: inline-block;
  color: grey;
  padding: 12px 31px 15px;
  cursor: pointer;
}
.filter-block_button:hover {
  color: #000;
}
.filter-block_button.active {
  border: 2px solid #0052c2;
  padding: 10px 29px 13px;
}
#testfilter {
  text-align: center;
}
@media (min-width: 768px) {
  #testfilter {
    text-align: left;
  }
}
#testfilter .portfolio-item__title,
#testfilter .portfolio-item__description {
  text-align: left;
}
#testfilter .mix {
  display: none;
}
.cmn-toggle-switch {
  display: block;
  position: absolute;
  overflow: hidden;
  top: 23px;
  right: 16px;
  z-index: 5;
  margin: 0;
  padding: 0;
  width: 50px;
  height: 45px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
@media (min-width: 768px) {
  .cmn-toggle-switch {
    display: none;
  }
}
.cmn-toggle-switch:focus {
  outline: none;
}
.cmn-toggle-switch span {
  display: block;
  position: absolute;
  top: 20px;
  left: 5px;
  right: 5px;
  height: 5px;
  background: white;
}
.cmn-toggle-switch span::before,
.cmn-toggle-switch span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #fff;
  content: "";
}
.cmn-toggle-switch span::before {
  top: -12px;
}
.cmn-toggle-switch span::after {
  bottom: -12px;
}
/**
 * Style 2
 */
.cmn-toggle-switch__htx {
  background-color: transparent;
}
.cmn-toggle-switch__htx span {
  -webkit-transition: background 0 0.3s;
  transition: background 0 0.3s;
}
.cmn-toggle-switch__htx span::before,
.cmn-toggle-switch__htx span::after {
  -webkit-transition-duration: 0.3s, 0.3s;
  transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0;
  transition-delay: 0.3s, 0;
}
.cmn-toggle-switch__htx span::before {
  -webkit-transition-property: top, -webkit-transform;
  transition-property: top, transform;
}
.cmn-toggle-switch__htx span::after {
  -webkit-transition-property: bottom, -webkit-transform;
  transition-property: bottom, transform;
}
/* active state*/
.cmn-toggle-switch__htx.active {
  position: fixed;
}
.cmn-toggle-switch__htx.active span {
  background: none;
}
.cmn-toggle-switch__htx.active span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.cmn-toggle-switch__htx.active span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.cmn-toggle-switch__htx.active span::before,
.cmn-toggle-switch__htx.active span::after {
  -webkit-transition-delay: 0, 0.3s;
  transition-delay: 0, 0.3s;
}
.header {
  display: table;
  position: relative;
  height: 100vh;
  width: 100%;
  color: #ffffff;
  background-color: #89b2d7;
  background-image: url("../img/bg/bg-cat.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}
@media (min-width: 768px) {
  .header {
    height: 560px;
  }
}
@media (min-width: 1200px) {
  .header {
    height: 800px;
  }
}
.header__title {
  font-size: 26px;
  font-weight: 700;
  margin: 0 0 20px;
  letter-spacing: 2px;
  text-shadow: 0px 0px 40px #48779f;
}
@media (min-width: 768px) {
  .header__title {
    font-size: 42px;
  }
}
@media (min-width: 768px) {
  .header__title {
    font-size: 56px;
  }
}
.header__subtitle {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  text-shadow: 0px 0px 40px #48779f;
}
@media (min-width: 768px) {
  .header__subtitle {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .header__subtitle {
    font-size: 26px;
  }
}
.header__inner {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding-top: 51px;
  padding-bottom: 60px;
}
.header__centr-content {
  display: inline-block;
  margin-top: -98px;
}
@media (min-width: 768px) {
  .header__centr-content {
    margin-top: 10px;
  }
}
@media (min-width: 1200px) {
  .header__centr-content {
    margin-top: -162px;
  }
}
@media (min-width: 1500px) {
  .resume {
    background-image: url("../img/bg/laptop.png");
    background-position: right 53%;
    background-repeat: no-repeat;
  }
}
.defin-list {
  margin-bottom: 43px;
  list-style-type: none;
}
@media (min-width: 768px) {
  .defin-list {
    padding-right: 50px;
  }
  .defin-list--pr-0 {
    padding-right: 0px;
    margin-left: 90px;
  }
}
.defin-list__item {
  margin-bottom: 13px;
  font-size: 14px;
  line-height: 26px;
}
@media (min-width: 768px) {
  .defin-list__item {
    font-size: 16px;
  }
}
.defin-list__def {
  color: #0052c2;
  font-weight: 700;
  text-transform: uppercase;
}
.defin-list__def--light {
  color: #a2d1f4;
  font-size: 16px;
}
.defin-list__descrip {
  color: #000;
}
@media (min-width: 1500px) {
  .portfolio {
    background-image: url("../img/bg/gear.png");
    background-repeat: no-repeat;
    background-position: left 55%;
  }
}
.portfolio-item {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  max-width: 360px;

}
@media (min-width: 768px){
 .portfolio-item{
  height: 360px;
 }

}
.portfolio-item__img {
  position: relative;
  display: block;
  overflow: hidden;
  margin-bottom: 15px;
  background-image: url("../img/placeholders/");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-width: 768px) {
  .portfolio-item__img {
    min-height: 150px;
    height: 150px;
    background-image: url("../img/placeholders/project_placeholder.jpg");
  }
}
@media (min-width: 992px) {
  .portfolio-item__img {
    height: 200px;
  }
}
@media (min-width: 1200px) {
  .portfolio-item__img {
    margin-bottom: 16px;
    height: 250px;
  }
}
.portfolio-item__img__hover {
  display: block;
  position: absolute;
  top: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 60px;
  text-align: center;
  font-size: 26px;
  color: #FFF;
  background-color: rgba(0, 82, 194, 0.9);
  transition: top 0.5s ease-out;
}
.portfolio-item__img__hover:hover {
  color: #FFF;
}
.portfolio-item__img__hover .fa {
  font-size: 64px;
  margin-bottom: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (min-width: 768px) {
  .portfolio-item__img__hover .fa {
    font-size: 50px;
  }
}
@media (min-width: 1200px) {
  .portfolio-item__img__hover .fa {
    font-size: 64px;
    position: static;
    transform: translate(0%, 0%);
  }
}
.portfolio-item__img__hover span {
  display: none;
}
@media (min-width: 1200px) {
  .portfolio-item__img__hover span {
    display: inline-block;
  }
}
.portfolio-item__img:hover .portfolio-item__img__hover {
  display: block;
  top: 0%;
}
.portfolio-item__title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}
@media (min-width: 992px) {
  .portfolio-item__title {
    font-size: 24px;
  }
}
.portfolio-item__title a {
  color: #000;
  text-decoration: none;
}
.portfolio-item__title a:hover,
.portfolio-item__title a:focus,
.portfolio-item__title a:active {
  color: #0052c2;
  text-decoration: none;
}
@media (min-width: 1200px) {
  .portfolio-item__title a {
    border-bottom: 1px dotted #000;
  }
  .portfolio-item__title a:hover,
  .portfolio-item__title a:focus,
  .portfolio-item__title a:active {
    border-bottom: 1px dotted #0052c2;
  }
}
.portfolio-item__description {
  font-size: 14px;
  line-height: 1.42;
}
@media (min-width: 992px) {
  .portfolio-item__description {
    font-size: 16px;
    line-height: 1.5;
  }
}
.contacts {
  background-color: #065a97;
}
@media (min-width: 1500px) {
  .contacts {
    background-image: url("../img/bg/cloud.png");
    background-position: right 70%;
    background-repeat: no-repeat;
  }
}
.contacts p {
  color: #fff;
  margin-bottom: 15px;
}
.contacts a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px dotted #fff;
}
.contacts a:hover {
  color: #ffee40;
}
a.webcademy-link {
  color: #fff;
  text-decoration: none;
}
a.webcademy-link:hover,
a.webcademy-link:focus {
  color: #ffe400;
  text-decoration: none;
}
a.webcademy-link:active {
  text-decoration: underline;
}
.footer {
  background-color: #003f6d;
}
.copyright {
  font-size: 14px;
  color: #003f6d;
  line-height: 1.4;
  padding-top: 40px;
  padding-bottom: 40px;
}
.copyright p {
  color: #5e92b9;
  font-size: 14px;
  line-height: 1.4;
  margin: 0 0 10px;
}
.copyright p:last-child {
  margin-bottom: 0;
}
p.copyright-label {
  color: #82b3d7;
  font-size: 16px;
}
.social-icons__item {
  font-size: 32px;
  color: #fff;
}
.social-icons__item a {
  text-decoration: none;
  border-bottom: none;
}
.social-icons__item a:hover {
  color: #ffe400;
}
.social-icons__item .fa {
  margin-right: 30px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.social-icons__item .fa:last-child {
  margin-right: 0;
}
.contact-form__input {
  width: 100%;
  color: #00599a;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
  padding: 10px 19px;
  border: 3px solid #fff;
  border-radius: 8px;
  background-color: #fff;
  transition: border-color 0.3s ease-in;
}
.contact-form__input:hover,
.contact-form__input:active,
.contact-form__input:focus {
  border-style: solid;
  border-width: 3px;
  border-color: #a2d1f4;
  outline: none !important;
}
.contact-form__input--hw {
  width: 49%;
  float: left;
  margin-right: 2%;
}
.contact-form__input--hw:last-of-type {
  margin-right: 0;
  outline: none !important;
}
.contact-form__textarea {
  color: #00599a;
  font-size: 16px;
  font-weight: 700;
  width: 100%;
  height: 128px;
  margin-bottom: 10px;
  padding: 10px 19px;
  border: 3px solid #fff;
  border-radius: 8px;
  background-color: #fff;
  transition: border-color 0.3s ease-in;
}
.contact-form__textarea:hover,
.contact-form__textarea:active,
.contact-form__textarea:focus {
  border-style: solid;
  border-width: 3px;
  border-color: #a2d1f4;
  outline: none !important;
}
.contact-form__submit {
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  padding: 8px 47px 12px;
  text-align: center;
  color: #fff;
  border: 4px solid #fff;
  border-radius: 80px;
  background-color: transparent;
  transition: all 0.3s ease-in;
}
@media (min-width: 768px) {
  .contact-form__submit {
    font-size: 20px;
    display: inline-block;
    width: auto;
  }
}
@media (min-width: 1200px) {
  .contact-form__submit {
    font-size: 22px;
  }
}
.contact-form__submit:hover,
.contact-form__submit:focus {
  color: #065a97;
  border-color: #fff;
  background-color: #fff;
  outline: none !important;
}
.contact-form__submit:active {
  color: #ffee40;
  border-color: #ffee40;
  background-color: transparent;
  outline: none !important;
}
@media (min-width: 1200px) {
  .contact-form__bg-pencil {
    position: relative;
  }
  .contact-form__bg-pencil:after {
    content: "";
    background-image: url("../img/bg/pencil.png");
    background-repeat: no-repeat;
    background-position: left top;
    position: absolute;
    left: 75%;
    top: 75%;
    display: block;
    width: 203px;
    height: 153px;
  }
}
label.error {
  display: block;
  position: relative;
  background-color: #AD1457;
  color: #fff;
  border-radius: 8px;
  padding: 5px 15px;
  margin-top: -4px;
  margin-bottom: 15px;
}
label.error:after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 40px;
  width: 0;
  height: 0;
  margin-left: -8px;
  border-bottom: 5px solid #AD1457;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}
/*# sourceMappingURL=main.css.map */